<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Flask Starter App</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="css/main.css">
    
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    
    
    
  </head>
  <body>
      <script>
        var app = angular.module("myShoppingList", []); 
        app.controller("myCtrl", function($scope) {
            $scope.products = ["Milk", "Bread", "Cheese"];
            $scope.addItem = function () {
                $scope.errortext = "";
                if (!$scope.addMe) {return;}
                if ($scope.products.indexOf($scope.addMe) == -1) {
                    $scope.products.push($scope.addMe);
                } else {
                    $scope.errortext = "The item is already in your shopping list.";
                }
            } 
            $scope.removeItem = function (x) {
                 $scope.errortext = "";
                $scope.products.splice(x, 1);
            }
        });
        
        
    </script>
    
    
      <div ng-app="myShoppingList" ng-controller="myCtrl">
        <div class="list-container container-fluid">
            <div class="list-heading">
                <h3>My Shopping List</h3>
            </div>
            <ul class="list">
                <div class="item">
                    <li class="list-item" ng-repeat="x in products">
                        <span> {{x}} </span> 
                        <span class="remove" ng-click="removeItem($index)">&times;</span>
                    </li>    
                </div>
                
            </ul>
            
            <div class="add-item-container">
                <input class="add-item-input form-control" ng-model="addMe">
                <button class="add-item-btn btn btn-sm btn-default" ng-click="addItem()">Add</button>
            </div>
            
            <p class="error">{{errortext}}</p>
        </div>
    </div>
  </body>
</html>